@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    font-family: 'Outfit', sans-serif;
}
.body-cont{
    background: linear-gradient(rgba(8,0,58,0.3),rgba(8,0,58,0.3)), url('./assest/bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
}

.header{
    position: relative;
}

.body-of-app{
    display: flex;
    justify-content: center;
    align-items: center;
}